h1 {
    border: solid 3px ;
}

.brock {
    border: solid 3px ;
    margin-top: 10px;
    width: 35%;
}

.center {
    text-align: center;
}

.right {
    margin-left: 50%;
}

.img{
    width: 300px;
}
